@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Grey: hsl(216 18% 23%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --Orange: hsl(25, 97%, 53%);

    --font: 'Overpass', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--font);
    font-size: 1.6rem;
    background-color: var(--Very-Dark-Blue);
}

p, h2 {
    margin: 0;
    color: var(--White);
}

.container {
    max-width: 375px;
    min-width: 375px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: var(--Dark-Blue);
    border-radius: 15px;
    padding: 25px;
}

.tittle {
    margin: 15px 0 15px 0;
}

.description {
    color: var(--Light-Grey);
}

.star, .number {
    background-color: var(--Dark-Grey);
    padding: 15px;
    border-radius: 50%;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--White);
    margin: 25px 0 25px 0;
}

.rating input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.rating input[type="radio"]:checked + label {
    background-color: var(--Orange);
    color: var(--White);
    transition: .3s;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    color: var(--Light-Grey);
    transition: .3s;
}

.number:hover {
    background-color: var(--Medium-Grey);
    color: var(--White);
    transition: .3s;
    cursor: pointer;
}

.submit-button {
    background-color: var(--Orange);
    color: var(--White);
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    padding: 10px;
    border-radius: 40px;
    width: 100%;
    transition: .3s;
}

.submit-button:hover {
    background-color: var(--White);
    color: var(--Orange);
    transition: .3s;
    cursor: pointer;
}

/* Thank you State */

.thank-you-state {
    margin: 20px 0 10px 0;
}

.thank-you-state img {
    display: block;
    position: relative;
    margin: 0 auto;
}

.user-rating {
    background-color: var(--Dark-Grey);
    border-radius: 25px;
    text-align: center;
    margin: 20px 0 20px 0;
    padding: 10px;
    color: var(--Orange);
}

.thank-you-state h2 {
    text-align: center;
}

.thank-you-state .description {
    text-align: justify;
}

/* footer */

.attribution {
    font-size: 11px; text-align: center;
    color: var(--White);
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}